.search-mobile {
    /* flex: 1; */
    padding-right: -10px;
    margin-bottom: 0;
    margin-top: 0;
    /* margin-right: 120px; */
    text-align: end;
    display: flex;
    align-items: center;
    /* justify-content: end; */
    /* border: 2px solid red; */
  }

  .search-bar-mobile {
    border: 3px solid #4db7be;
    border-radius: 25px;
    /* width: 150px; */
    max-width: 180px;
    background-color: rgba(252, 252, 252, 0);
    font-family: Lexend, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* color: #ffffff; */
    color: #4db7be;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    /* transition-duration: 0.3s; */
    text-align: start;
  }

  .search-mobile img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    /* margin-left: -38px; */
    margin-left: 150px;
    position: absolute;
    vertical-align: bottom;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  .search-mobile:hover img {
    opacity: 0;
  }

  .search-bar-mobile::placeholder {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height */
    /* color: white; */
    color: rgba(38, 34, 97, 1);
    margin-top: 8.5px;
    margin-bottom: 8.5px;
  }

  .search-bar-mobile:hover::placeholder {
    opacity: 0.4;
  }

  input:hover {
    /* min-width: 140%; */
    max-width: 140%;
    /* color: rgb(254, 255, 253); */
    color: black;
    /* border-color: rgba(215, 241, 161, 1); */
    /* text-align: left; */
    /* padding-left: 10px; */
    /* opacity: 30%; */
  }

  input:active {
    /* width: 16px; */
    color: rgba(254, 255, 253, 0.358);
  }

  @media (max-width:636px){
    
    .search-bar-mobile{
        width: 120px;
        height: 30px;
        margin: 0 auto;
    }
    .search-mobile img {
      margin-left: 110px;
      
    }

    .search-bar-mobile {
      
      font-size: 13px;
      

    }
    .search-bar-mobile::placeholder {
      
      font-size: 13px;
      /* line-height: 30px; */
      /* identical to box height */
      /* color: white; */
      color: rgba(38, 34, 97, 1);

    }

}

@media (max-width:540px){
    
  
  .search-mobile img {
    margin-left: 90px;
    
  }
}

@media (max-width:414px){
  
  .search-bar-mobile{
    width: 100px;
    height: 25px;
    margin: 0 auto;
}
  .search-mobile img {
    margin-left: 75px;
    height: 15px;
    
  }
}

@media (max-width:375px){
  
  .search-bar-mobile{

    margin: 0 auto 0 -15px;
}
  .search-mobile img {
    margin-left: 60px;

    
  }
}

@media (max-width:280px){
  
  .search-bar-mobile{

    height: 15px;
    width: 80px;
    border: 2px solid #4db7be;
    
}

.search-bar-mobile::placeholder{

  font-size: 11px;
  
}
  .search-mobile img {
    width: 10px;
    margin-left: 48px;

  }
}