.head-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  /* top: 0;
  left: 0;
  right: 0; */
  position: fixed;
  z-index: 1;
  /* background-color: white; */
  /* border: 2px solid green; */
  box-sizing: border-box;
}

/* .navbar{
    align-content: center !important;
} */



header {
  height: 124px;
  max-width: 100%;
  margin-left: 6%;
  margin-top: -14px;
  background: linear-gradient(90deg, #4db7be 24.32%, #ffffff 68.8%);
  border-radius: 70px;
  display: flex;
  /* border: 2px solid yellow; */
}
.logo{
    /* max-height: 70% !important;  */
    min-height: 70%;
    margin-left: 50px;
    max-width: 300px !important;
    margin-top: 50px;
    /* max-width: 500% !important; */
    /* border: 2px solid red; */
    /* display: flex; */
    
}

header img {
  /* width: 118px; */
  height: 167px;
  /* margin-left: -80%; */
  /* margin-top: 2px; */
  /* cursor: pointer; */
  /* margin-right: 0; */
  /* margin-left: 70px; */
  /* border: 2px solid orange; */
}

.slogan {
  font-family: Oleo Script;
  font-size: 1.5rem;
  color: #00486d;
  /* display: inline-block; */
  /* margin-left: 30px;
  margin-top: 50px; */
  flex-shrink: 0;
  margin-left: 20px;
  /* border: 2px solid brown; */
}

account ul {
  text-align: center;
  /* margin: 0 auto; */
  /* margin-left: auto; */
  /* margin-right: 120px; */
  
  /* justify-content: end; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: start;
  height: 70px;
  align-content: start;
  /* border: 2px solid red; */

}

.long-menu li{
    background-color: white;
    color: black;
    
}

.buyeraccount {
  /* margin-top: 15%; */
  height: 26px;
  background-color: rgba(38, 34, 97, 1);
  /* border: 2px solid purple; */
  border-radius: 4px;
  /* padding-top: 0.5px; */
  /* padding-bottom: 0.5px; */
  width: 75px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  color: white;
  font-size: 1rem;
  /* border: 2px solid orange; */
}

.buyer-button{
  color: #ffffff;
  font-size: 0.75rem;
  margin: 0 auto;
  text-align: center;
  /* cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px; */
  text-transform: uppercase;
}

.traveleraccount {
  background-color: rgba(255, 255, 255, 0);
  /* margin-top: 28px; */
  text-transform: uppercase;
  height: 26px;
  
  border: 0px;
  border-radius: 4px;
  /* padding-top: 0.5px; */
  /* padding-bottom: 0.5px; */
  width: 70px;
  margin-right: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.08s;
  /* cursor: pointer; */
}

.traveler-button{
    color: rgba(38, 34, 97, 1);
    font-size: 0.75rem;
    margin: 0 auto;
    
    /* text-align: center; */
    /* cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px; */
    text-transform: uppercase;
  }



.traveleraccount:hover {
  border: 1.7px solid #4db7be;
  box-shadow: 0px 0px 3px #00496d55;
  background-color: rgba(255, 255, 255, 0);
  /* color: black !important; */
  box-shadow: offset;
}

.account-photo {
  width: 30px;
  height: 30px;
  /* border: 2px solid purple; */

  
  /* margin-top: 0px; */
  /* margin-left: 50px; */
  /* cursor: pointer; */
  /* position: absolute; */
}

.long-menu{
    /* border: 2px solid yellow; */
    margin-left: -7px;
    top: -13px;

}

/* FIGURE OUT WHY ICON TURNS GRAY ON HOVER */
.long-menu:hover{
    /* margin-left: 20px; */
    background-color: white;
    /* box-shadow: 100px 10px 100px white; */

}

.dropdown{
    margin-left: 300px;
}


.account-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 32px; */
  /* height: 32px; */
  /* margin-top: 26px; */
  border-radius: 20px;
  transition-duration: 0.08s;
  /* margin-left: 50px; */
  /* border: 2px solid red; */
}

.account-icon:hover {
  box-shadow: 0px 0px 5px #00496d94;
}



searching {
  width: 100%;
  /* height: 65px; */
  margin-top: -19px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #58c5ca 8%,
    #53b6c0 10%,
    #4589a3 17%,
    #3a648b 24%,
    #314779 30%,
    #2b326b 37%,
    #272663 44%,
    #262261 50%,
    #272663 56%,
    #2b326b 63%,
    #314779 70%,
    #3a648b 76%,
    #4589a3 83%,
    #53b6c0 90%,
    #58c5ca 92%,
    #ffffff 100%
  );
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-searching {
  flex: 1;
  margin-left: 120px;
  width: 0;
}

.countrybar {
  width: 500px;
  min-width: 460px;
  position: relative;
}

.shopat {
  background-position: center;
  background-color: #ffffff;
  width: 150px;
  border: 4px solid #4db7be;
  border-radius: 25px;
  display: inline-block;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.arrow {
  width: 35px;
  margin-top: 16px;
  margin-left: -19px;
  margin-right: 0;
  opacity: 100%;
  position: absolute;
  right: 260px;
  top: 2px;
}

.deliverto {
  background-position: center;
  width: 150px;
  background-color: #ffffff;
  border: 4px solid #4db7be;
  border-radius: 25px;
  display: inline-block;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 100;
}

.go {
  width: 80px;
  background: #4db7be;
  border: 4px solid #4db7be;
  border-radius: 0px 25px 25px 0px;
  color: #ffffff;
  display: inline-block;
  margin-left: -25px;
  text-align: end;
  position: relative;
  cursor: pointer;
  padding-left: 5px;
}

.go-p {
  color: #ffffff;
  margin-right: -20px;
}

.search {
  flex: 1;
  padding-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 120px;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: end;
}

.search-bar {
  border: 3px solid rgb(255, 254, 254);
  border-radius: 25px;
  width: 150px;
  background-color: rgba(252, 252, 252, 0);
  font-family: Lexend, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.3s;
  text-align: start;
}

.search img {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  margin-left: -38px;
  position: absolute;
  vertical-align: bottom;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.search:hover img {
  opacity: 0;
}

.search-bar::placeholder {
  font-family: Lexend, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height */
  color: white;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

.search-bar:hover::placeholder {
  opacity: 0.4;
}

input:hover {
  width: 200px;
  color: rgb(254, 255, 253);
  border-color: rgba(215, 241, 161, 1);
  text-align: left;
  padding-left: 10px;
  /* opacity: 30%; */
}

input:active {
  width: 200px;
  color: rgba(254, 255, 253, 0.358);
}
