body,
html {
    margin: 0;
    padding: 0;
}



body {
    background-size: cover;
    background-position: center;
    object-position: center;
    text-align: center;
    width: 100%;
    padding-top: 158px;
}

.head-container {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 500;
}


header {
    height: 124px;
    margin-left: 6%;
    margin-top: -14px;
    background: linear-gradient(90deg, #4DB7BE 24.32%, #FFFFFF 68.8%);
    border-radius: 70px;
    display: flex;
}


header img {
    width: 118px;
    height: 167px;
    margin-left: -80%;
    margin-top: 2px;
    cursor: pointer;
    margin-right: 0;
    margin-left: 70px
}

.slogan {
    font-family: Oleo Script;
    font-size: 24px;
    color: #00486D;
    display: inline-block;
    margin-left: 30px;
    margin-top: 50px;
    flex-shrink: 0;
}

account {
    text-align: center;
    margin-left: auto;
    margin-right: 120px;
    display: flex;
    justify-content: end;


}

.buyeraccount {
    margin-top: 28px;
    height: 26px;
    background-color: rgba(38, 34, 97, 1);
    border-radius: 4px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    width: 80px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.traveler-botton {
    font-size: 16px;
}

.buyer-botton {
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.traveleraccount {
    background-color: rgba(38, 34, 97, 0.012);
    margin-top: 28px;
    height: 26px;
    border-radius: 4px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    width: 100px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.08s;
    cursor: pointer;
}

.traveleraccount:hover {
    border: 1.7px solid #4DB7BE;
    box-shadow: 0px 0px 3px #00496d55;
    box-shadow: offset;

}

.account-photo {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 0px;
    cursor: pointer;
    position: absolute;

}

.account-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-top: 26px;
    border-radius: 20px;
    transition-duration: 0.08s;
}

.account-icon:hover {
    box-shadow: 0px 0px 5px #00496d94;

}

searching {
    width: 100%;
    /* height: 65px; */
    margin-top: -19px;
    background: linear-gradient(90deg, #FFFFFF 0%, #58C5CA 8%, #53B6C0 10%, #4589A3 17%, #3A648B 24%, #314779 30%, #2B326B 37%, #272663 44%, #262261 50%, #272663 56%, #2B326B 63%, #314779 70%, #3A648B 76%, #4589A3 83%, #53B6C0 90%, #58C5CA 92%, #FFFFFF 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-searching {
    flex: 1;
    margin-left: 120px;
    width: 0;
}

.countrybar {
    width: 500px;
    min-width: 460px;
    position: relative;

}

.shopat {
    background-position: center;
    background-color: #FFFFFF;
    width: 150px;
    border: 4px solid #4DB7BE;
    border-radius: 25px;
    display: inline-block;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.arrow {
    width: 35px;
    margin-top: 16px;
    margin-left: -19px;
    margin-right: 0;
    opacity: 100%;
    position: absolute;
}


.deliverto {
    background-position: center;
    width: 150px;
    background-color: #FFFFFF;
    border: 4px solid #4DB7BE;
    border-radius: 25px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 100;
}

.go {
    width: 64px;
    background: #4DB7BE;
    border: 4px solid #4DB7BE;
    border-radius: 0px 25px 25px 0px;
    color: #FFFFFF;
    display: inline-block;
    margin-left: -25px;
    text-align: end;
    position: relative;
    cursor: pointer;
}

.go-p {
    color: #FFFFFF;
    margin-right: -15px;
}

.search {
    flex: 1;
    padding-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 120px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;

}

.search-bar {
    border: 3px solid rgb(255, 254, 254);
    border-radius: 25px;
    width: 90px;
    background-color: rgba(252, 252, 252, 0);
    font-family: Lexend, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    transition-duration: 0.3s;
    text-align: start;

}

.search img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    margin-left: -38px;
    position: absolute;
    vertical-align: bottom;
    opacity: 0.7;
    transition: opacity 0.2s;
}


.search:hover img {
    opacity: 0;
}


.search-bar::placeholder {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height */
    color: white;
    margin-top: 8.5px;
    margin-bottom: 8.5px;
}

.search-bar:hover::placeholder {
    opacity: 0.4;

}


input:hover {
    width: 200px;
    color: rgb(254, 255, 253);
    border-color: rgba(215, 241, 161, 1);
    text-align: left;
    padding-left: 10px;
    /* opacity: 30%; */

}

input:active {
    width: 200px;
    color: rgba(254, 255, 253, 0.358);

}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    background: #4DB7BE;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-left: 120px;
    margin-right: 120px;
    cursor: pointer;
    margin-bottom: 10px;
    min-width: 540px;

}

.sort {
    width: 1060px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.left-nav {
    flex: 1;
}

.right-nav {
    flex: 1;
}