body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-position: center;
    object-position: center;
    text-align: center;
    width: 100%;
    padding-top: 158px;

}

.browsing-catagory {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 180px;
    text-align: left;
}


.item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    /* column-gap: 20px; */
    row-gap: 80px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 80px;
    align-items: center;
}

@media (max-width: 1140px) {

    .item-grid {
        grid-template-columns: 1fr 1fr 1fr;
        ;
    }
}

@media (max-width: 850px) {

    .item-grid {
        grid-template-columns: 1fr 1fr;
        ;
    }
}

@media (max-width: 480px) {

    .item-grid {
        grid-template-columns: 1fr;
        ;
    }
}


.itemframe {
    width: 230px;
    height: 295px;
    /* text-align: start; */
    position: relative;
    justify-content: center;
    align-items: center;
}

.itemphoto {
    display: flex;
    width: 100%;
    height: 230px;
    display: block;
    margin-bottom: 10px;
    position: absolute;
    object-position: center;
}

.item-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
    /* position: absolute; */

}

.item-info {
    flex: 1;
    display: block;
    width: 230px;
    position: absolute;
    text-align: start;
    bottom: 0;
}